Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

chore: update .gitignore and add prepare script to generate _config.json
  packages/sbg-utility/.gitignore
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/760751bc7d78c78ad8f3af6ab95f59b42fa3bb2b
  packages/sbg-utility/release/metadata.json
Due: prettier --list-different --write

refactor: update build process and package resolutions
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package-switch.cjs
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/b1cc199b6d8585ab8276ed68ec63e194b3560758
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
Due: prettier --list-different --write

refactor(test): split gulp cache tests for src and dist builds
  packages/sbg-utility/test/gulp-utils/gulp-cached.test.ts
Due: eslint --fix

refactor(config): improve deployDir resolution and consistency
  packages/sbg-utility/src/config/_config.ts
Due: eslint --fix

test: add unit tests for config loading and deployment configuration
  packages/sbg-utility/test/_config.yml
  packages/sbg-utility/test/config/_config.test.ts
Due: eslint --fix, prettier --list-different --write

refactor(tests): DRY up config and gulp-cached tests with reusable test runners
  packages/sbg-utility/test/config/_config.test.ts
  packages/sbg-utility/test/gulp-utils/gulp-cached.test.ts
Due: eslint --fix

test: add unit tests for chain function with async and stream scenarios
  packages/sbg-utility/test/utils/chain-dist.test.cjs
Due: eslint --fix

test: remove obsolete chain function tests
  packages/sbg-utility/test/utils/chain-dist.test.cjs
Due: eslint --fix

test: add unit tests for array utility functions
  packages/sbg-utility/test/utils/array.test.ts
Due: eslint --fix

feat(hash): add unit tests for hash utilities and change md5File to named export
  packages/sbg-utility/src/utils/hash.ts
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix

import from branch master
  .gitignore
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
Due: eslint --fix, prettier --list-different --write

refactor: update to yarn v4.9.2
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: eslint --fix, prettier --list-different --write

ci: filter git commit step to only include sbg-utility changes
  .github/workflows/sbg-utility.yml
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix: ensure git-lfs commands do not fail on error
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/6a41a3e8031f6d4ac01896f3a2ce93380e6e0a05
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: eslint --fix, prettier --list-different --write

feat(rollup): enhance chunk file naming for ESM and CJS builds
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

fix: update import paths to use .mjs extensions for consistency
  packages/sbg-utility/test/config/_config.test.ts
  packages/sbg-utility/test/gulp-utils/gulp-cached.test.ts
  packages/sbg-utility/test/utils/array.test.ts
  packages/sbg-utility/test/utils/chain.test.ts
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix

refactor: consolidate plugin definitions for ESM and CJS builds in rollup-preserve.js
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

fix: add jest to imports in imports.test.ts for proper test execution
  packages/sbg-utility/test/imports.test.ts
Due: eslint --fix

test: move tests for JSON serialization and parsing with circular references
  packages/sbg-utility/test/utils/jsonSerializerCircular.test.ts
  packages/sbg-utility/test/utils/jsonSerializerCircular.ts
Due: eslint --fix

refactor: enhance JSON circular structure tests and remove obsolete file
  packages/sbg-utility/test/utils/jsonSerializerCircular.test.ts
  packages/sbg-utility/test/utils/jsonSerializerCircular.ts
Due: eslint --fix

refactor: rename parameters in toJSON and fromJSON for clarity
  packages/sbg-utility/src/utils/JSON-serializer.ts
Due: eslint --fix

test: add tests for JSON-serializer circular object handling
  packages/sbg-utility/test/utils/jsonSerializerCircular.test.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/3a1c3c5c644d9769153bb3d3246df65b985dc75b
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add drive letter normalization utility and refactor normalizePath to use it
  packages/sbg-utility/src/utils/filemanager/driveLetterUtils.ts
  packages/sbg-utility/src/utils/filemanager/normalizePath.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/e99595193f8fad5099346d95757dff501e3ebb8b
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor: update import paths for utilities and adjust cwd normalization
  packages/sbg-utility/src/config/default-config.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/1c16f85ec73e2266088640feb69c3d5ae3505af7
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor: consolidate filemanager utilities into path-utility and remove deprecated case-path
  packages/sbg-utility/src/config/default-config.ts
  packages/sbg-utility/src/gulp-utils/gulp-dom.ts
  packages/sbg-utility/src/utils/filemanager/case-path.ts
  packages/sbg-utility/src/utils/filemanager/getAppRootDir.ts
  packages/sbg-utility/src/utils/filemanager/index.ts
  packages/sbg-utility/src/utils/filemanager/normalizePath.ts
  packages/sbg-utility/src/utils/filemanager/path-utility.ts
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix

refactor: merge and refactor path utilities into path-utility.ts
  packages/sbg-utility/src/utils/filemanager/path-utility.ts
  packages/sbg-utility/test/utils/path-utility.test.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/7aad7abdee0557362d068df46adddb121dd316ed
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor: enhance path-utility tests with upath integration and improve path normalization checks
  packages/sbg-utility/test/utils/path-utility.test.ts
Due: eslint --fix

fix: correct path resolution for fixtures and temporary directory in chain tests
  packages/sbg-utility/test/utils/chain.test.ts
Due: eslint --fix

refactor: streamline fs and path imports in jest.config.ts and enhance tmp directory creation logic
  packages/sbg-utility/jest.config.ts
Due: eslint --fix

fix: enhance test script for better stability and coverage reporting
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update devDependencies to latest versions for improved stability and performance
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f41abf41b0e77b4b474bc707bff5eb426a9b7e7d
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix: update testMatch patterns to include additional file extensions for test and spec files
  packages/sbg-utility/jest.config.ts
Due: eslint --fix
