Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: enhance JSON parsing to support array circular references and add tests for validation
  packages/sbg-utility/src/utils/JSON-serializer.ts
  packages/sbg-utility/test/json_direct.mjs
  packages/sbg-utility/test/json_direct.ts
Due: eslint --fix

fix: update package resolutions for dependencies to latest versions
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add prepublish script to clean and build before publishing
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: bump version to 2.0.9
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/5230e9a1ede790b21574c1d00147c4bbdf6b0a05
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
Due: prettier --list-different --write

refactor(sitemap-crawler): replace cheerio with node-html-parser and add tests
  packages/sbg-utility/package.json
  packages/sbg-utility/src/sitemap-crawler/sitemap-crawler.ts
  packages/sbg-utility/test/sitemap-crawler.test.ts
Due: eslint --fix, prettier --list-different --write

fix: update package resolutions for binary-collections and related packages to latest versions
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix: update dependencies and devDependencies to latest versions
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/63338ca1f4480c0e06b09729e59a63b59e167e4a
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
Due: prettier --list-different --write

feat(utils): add `encodeURL` helper and replace `hutil.encodeURL` in Nunjucks env
  packages/sbg-utility/src/utils/encode-url.ts
  packages/sbg-utility/src/utils/nunjucks-env.ts
  packages/sbg-utility/test/utils/encode-url.test.ts
Due: eslint --fix

feat(decode-url): add `decodeURL` function and corresponding tests
  packages/sbg-utility/src/utils/decode-url.ts
  packages/sbg-utility/test/utils/decode-url.test.ts
Due: eslint --fix

feat(utils): enhance URL encoding/decoding with punycode support and robust parsing
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/_punycode.ts
  packages/sbg-utility/src/utils/decode-url.ts
  packages/sbg-utility/src/utils/encode-url.ts
  packages/sbg-utility/test/utils/decode-url.test.ts
  packages/sbg-utility/test/utils/encode-url.test.ts
Due: eslint --fix, prettier --list-different --write

feat(deepMerge): implement deepMerge function with support for special types and circular references
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/deepMerge.ts
  packages/sbg-utility/test/utils/deepMerge.test.ts
Due: eslint --fix, prettier --list-different --write

feat(deepMerge): export `deepmerge` for ESM and CommonJS compatibility
  packages/sbg-utility/src/utils/deepMerge.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/dc50d3c33d47efc99a08291b9137ef33664a291e
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(readfile): ensure default export for consistent module usage
  packages/sbg-utility/src/utils/filemanager/readfile.ts
Due: eslint --fix

feat(tests): refactor tests to use shared properties for consistency
  packages/sbg-utility/test/import-cjs.test.cjs
  packages/sbg-utility/test/import-esm.test.mjs
  packages/sbg-utility/test/import-shared.cjs
  packages/sbg-utility/test/imports.test.ts
Due: eslint --fix

feat(filemanager): export `readfile` and `writefile` as `readFile` and `writeFile` for consistency
  packages/sbg-utility/src/utils/filemanager/readfile.ts
  packages/sbg-utility/src/utils/filemanager/writefile.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/7b6b77ce22541d63ec65f7079bdfa9869e6dc249
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.9.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(vscode): add ESLint probe and validate settings for JavaScript, TypeScript, JSON, and Markdown
  packages/sbg-utility/.vscode/settings.json
Due: prettier --list-different --write

feat(utils): refactor and improve getChecksum utility
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/hash.ts
  packages/sbg-utility/src/utils/hash/getChecksum.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/utils/getChecksum.test.ts
Due: eslint --fix, prettier --list-different --write

chore(release): bump version to 2.0.10
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/dd71be691552bd27b18f94d29682af1290560b62
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(utils): add cleanString utility with configurable string cleaning options
  packages/sbg-utility/src/utils/string.ts
  packages/sbg-utility/test/utils/cleanString.test.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/aa0b5628378c63cb0e011b3b88beeacbded7e76f
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(sbg-utility): add SharedPreferences implementation with localStorage and memory backends
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/BasePreferences.ts
  packages/sbg-utility/src/utils/LocalStorageSharedPreferences.ts
  packages/sbg-utility/src/utils/MemorySharedPreferences.ts
  packages/sbg-utility/src/utils/SharedPreferences.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/utils/LocalStorageSharedPreferences.test.ts
  packages/sbg-utility/test/utils/MemorySharedPreferences.test.ts
  packages/sbg-utility/test/utils/SharedPreferences.test.ts
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f374fad37e4ca0bc282d3684a6fd88352fdc08d2
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor: update exports for SharedPreferences and LocalStorageSharedPreferences
  packages/sbg-utility/src/utils/LocalStorageSharedPreferences.ts
  packages/sbg-utility/src/utils/SharedPreferences.ts
Due: eslint --fix

build: add index-builder script and integrate into build process
  packages/sbg-utility/index-builder.mjs
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write

fix: unsupported dir import
  packages/sbg-utility/src/utils/index.builder.ts
Due: eslint --fix

fix(logger): prevent TypeError by checking stack trace elements before property access
  packages/sbg-utility/src/utils/logger.ts
Due: eslint --fix

feat: add fs stub to disable fs and fs-extra methods for browser builds
  packages/sbg-utility/src/stub/fs.cjs
Due: eslint --fix

test: add type assertion for parsed value in circular JSON test
  packages/sbg-utility/test/utils/jsonSerializerCircular.test.ts
Due: eslint --fix

refactor(sbg-utility): move fs and path exports to new external module
  packages/sbg-utility/src/external.ts
  packages/sbg-utility/src/index.builder.txt
  packages/sbg-utility/src/index.ts
Due: eslint --fix

fix(index-builder): refine glob pattern to include specific file extensions
  packages/sbg-utility/index-builder.mjs
Due: eslint --fix

feat(utils): add SharedPreferences module exports
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix: packages/sbg-server/package.json to reduce vulnerabilities
  packages/sbg-server/package.json
Due: prettier --list-different --write

feat(sbg-utility): add unicode-symbols submodule with symbol lookup utilities
  .gitmodules
  packages/sbg-utility/package.json
  packages/sbg-utility/src/symbols/index-exports.ts
  packages/sbg-utility/src/symbols/index.builder.ts
  packages/sbg-utility/src/symbols/index.ts
  packages/sbg-utility/src/symbols/unicode-symbols.ts
  packages/sbg-utility/test/symbols/unicode-symbols.test.ts
  packages/sbg-utility/tsconfig.json
Due: eslint --fix, prettier --list-different --write

fix(settings): update PATH variable for Windows terminal environment
  packages/sbg-utility/.vscode/settings.json
Due: prettier --list-different --write
