Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(cleanup): add script to recursively delete node_modules from workspace directories
  clean_workspaces_node_modules.py
Due: black

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/2faa0abe15d44b9e144fcf85a253b5996f9eb045
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(package): update package.json with new dependencies and metadata
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: remove hexo-util submodule from .gitmodules
  .gitmodules
Due: none

fix(package): update binary-collections resolution URL
  package.json
Due: prettier --list-different --write

fix(workflows): streamline submodule update process in beta workflows
  .github/workflows/beta-builder.yml
  .github/workflows/beta-push.yml
  .github/workflows/beta-tester.yml
Due: prettier --list-different --write

fix(utils): remove generate-exports auto-execution side effect
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix

feat(build): replace ts-node execution with Rollup-based build pipeline and improve index-builder workflow
  packages/sbg-utility/.vscode/settings.json
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup.executor.js
  packages/sbg-utility/tsconfig.json
Due: eslint --fix, prettier --list-different --write

fix(husky): guard README copy in pre-commit hook to avoid failures
  .husky/pre-commit
Due: none

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/81bcb31c4f4fe0018889ea7e3f3bb03d0910d617
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor(gulp): extract populate-config utility and integrate YAML-based config generation
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

feat(server): add favicon.ico handling to serve a default icon
  packages/sbg-utility/rollup-browser-test.js
Due: eslint --fix

fix(sbg-utility): refactor browser test live reload watchers
  packages/sbg-utility/rollup-browser-test.js
Due: eslint --fix

fix(package): update resolutions for hexo-util and binary-collections
  package.json
  packages/sbg-utility/package.json
Due: prettier --list-different --write

feat(sbg-utility): enhance browser debug tooling and fix browser test exposure
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup-browser-test.html
  packages/sbg-utility/rollup-browser-test.js
  packages/sbg-utility/rollup.browser.js
  packages/sbg-utility/test/browser.test.mjs
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/ceb9c465693c921a12b9a35aa759964c5aa8ce9f
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(package): update build-browser script to remove unnecessary task
  packages/sbg-utility/package.json
Due: prettier --list-different --write

feat(sbg-utility): enable exports for previously commented utilities in browser context
  packages/sbg-utility/src/index-exports-browser.ts
Due: eslint --fix

feat(browser): add dedicated browser build outputs and package export
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup-browser-test.html
  packages/sbg-utility/rollup-browser-test.js
  packages/sbg-utility/rollup-browser.js
  packages/sbg-utility/src/index-exports-browser.ts
  packages/sbg-utility/test/browser.test.mjs
Due: eslint --fix, prettier --list-different --write

fix(build): remove unnecessary rimraf import and sync call in buildPolyfill
  packages/sbg-utility/rollup-browser.js
Due: eslint --fix

feat(sbg-utility): replace console logging with HTML debug inspector and improve module debug output
  packages/sbg-utility/rollup-browser-test.html
Due: none

refactor(sbg-utility): replace node-localstorage with internal implementation
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/LocalStorage.ts
  packages/sbg-utility/src/utils/LocalStorageSharedPreferences.ts
Due: eslint --fix, prettier --list-different --write

fix(browser-debug): suppress live reload during manual builds
  packages/sbg-utility/rollup-browser-test.html
  packages/sbg-utility/rollup-browser-test.js
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/a81024f0623550930ec659edce9ef6baa1504e93
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor(browser-debug): show only latest build log in debug page
  packages/sbg-utility/rollup-browser-test.html
  packages/sbg-utility/rollup-browser-test.js
Due: eslint --fix

chore(build): rename workspace build scripts and simplify build orchestration
  package.json
Due: prettier --list-different --write

chore(package.json): refactor build and clean scripts for workspace management
  package.json
Due: prettier --list-different --write

feat(yarn): support per-branch yarn lockfiles with install helper
  .gitignore
  install.py
Due: black

fix(lint): update Python formatter command to use explicit Python invocation
  .lintstagedrc.json
Due: prettier --list-different --write

feat: reset yarn.lock when no branch lock exists but yarn.lock is present
  install.py
Due: black

refactor: rename install script to .yarn-install.py
  .yarn-install.py
Due: black

fix: add Windows-safe yarn workspace build runner
  build.mjs
  package.json
Due: eslint --fix, prettier --list-different --write

fix(sbg-utility): satisfy strict null checks in LocalStorage
  packages/sbg-utility/src/utils/LocalStorage.ts
Due: eslint --fix

fix(sbg-utility): make config population and tsc task more robust
  .yarn-install.py
  build.mjs
  package.json
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write, black

feat(eslint, precommit): synchronize linting dependencies and improve flat config structure
  .husky/pre-commit
  eslint.config.mjs
Due: eslint --fix

chore(deps): align and update ESLint/Prettier-related dependencies
  packages/sbg-utility/package.json
Due: prettier --list-different --write

refactor: remove install.py script and related functionality
  install.py
Due: black

feat: add yarn-install scripts for improved installation process
  bin/yarn-install
  bin/yarn-install.cmd
Due: none

feat(husky): route dependency sync through yarn-install script and add yarn up support
  .husky/pre-commit
  .yarn-install.py
Due: black

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
