Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/66b7f4aeb358d116fc07a1c54ac5c9bb5407ded2
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

docs(hash): improve TSDoc coverage and folder hash option typing
  packages/sbg-utility/src/utils/hash/file.ts
Due: eslint --fix

fix: update export names for writefile utility
  packages/sbg-utility/src/utils/filemanager/writefile.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/1cb52837ee329006934fc0d4cc28652aa6f0f038
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(utils/hash): add file hash generation and tree formatting utilities
  packages/sbg-utility/src/utils/hash/file-hashes.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/utils/file-hashes.test.ts
Due: eslint --fix

feat: export getFileHashes and getFolderTree functions for easier access
  packages/sbg-utility/src/utils/hash/file-hashes.ts
Due: eslint --fix

fix: add missing 'it' import in empty.test.ts
  packages/sbg-utility/test/utils/empty.test.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/48f046f27b3eeb62b972db2adb58b3b9d4811a71
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add hexo-util submodule for utility functions
  .gitmodules
Due: none

fix: update settings to exclude tmp files from watcher
  packages/sbg-utility/.vscode/settings.json
Due: prettier --list-different --write

feat: update launch and settings configurations for improved debugging and environment setup
  packages/sbg-api/.vscode/launch.json
  packages/sbg-api/.vscode/settings.json
Due: prettier --list-different --write

chore: update .gitignore to exclude .vscode/sftp* files
  packages/sbg-api/.gitignore
Due: none

feat: add binary-collections dependency and update resolutions in package.json
  packages/sbg-api/package.json
Due: prettier --list-different --write

feat: add Nullable, Optional, and DeepPartial types to globals.ts
  packages/sbg-api/src/types/globals.ts
Due: eslint --fix

fix: add type assertion for images in findBrokenImages function
  packages/sbg-api/src/post/find-broken-images.ts
Due: eslint --fix

refactor(sbg-api): simplify cmd binary resolver with platform-specific priority
  packages/sbg-api/gulpfile.cjs
Due: eslint --fix

fix(rollup): use tsconfig in TypeScript plugin to prevent build crash
  packages/sbg-api/rollup.config.js
Due: eslint --fix

fix(release): update integrity hashes and sizes for sbg-api tarballs
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
  packages/sbg-api/release/sbg-api-2.0.0.tgz
  packages/sbg-api/release/sbg-api.tgz
Due: prettier --list-different --write

feat: add additional exports for globals and utility functions in index-exports
  packages/sbg-api/src/index-exports.ts
Due: eslint --fix

fix: update resolutions for dependencies in package.json
  packages/sbg-api/package.json
Due: prettier --list-different --write

fix: update import statements for hexo-util to use namespace import
  packages/sbg-api/src/feed/index.ts
  packages/sbg-api/src/sitemap/index.ts
Due: eslint --fix

fix: update fs-extra, sbg-utility, and upath dependencies to latest versions
  packages/sbg-api/package.json
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
  packages/sbg-api/release/sbg-api-2.0.0.tgz
  packages/sbg-api/release/sbg-api.tgz
Due: prettier --list-different --write

fix: update yarnPath to use Yarn version 4.5.0
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: eslint --fix, prettier --list-different --write

fix: add dompurify dependency to sbg-server
  packages/sbg-server/package.json
Due: prettier --list-different --write

fix: packages/sbg-api/package.json to reduce vulnerabilities
  packages/sbg-api/package.json
Due: prettier --list-different --write

fix: update .gitignore to include yarn.lock and package-lock.json
  packages/sbg-api/.gitignore
Due: none

fix: remove prepack script from package.json
  packages/sbg-api/package-switch.cjs
  packages/sbg-api/package.json
Due: eslint --fix, prettier --list-different --write

fix: add .nx/ to .gitignore
  .gitignore
Due: none

fix: update .gitignore to include package-lock.json and yarn.lock
  .gitignore
Due: none

feat: add GitHub Actions workflow for building the API
  .github/workflows/sbg-api.yml
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/08711fc205d0fb0198adc4656c87961e9b57c0d9
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
Due: prettier --list-different --write

fix: update VSCode settings for terminal environment variables
  packages/sbg-cli/.vscode/settings.json
Due: prettier --list-different --write

chore(sbg-cli): relocate CLI entry to src and update packaging/config
  packages/sbg-cli/package.json
  packages/sbg-cli/src/bin/sbg.js
Due: eslint --fix, prettier --list-different --write

refactor(cli): update sbg-api imports and adjust deploy.copy usage
  packages/sbg-cli/src/cli.ts
Due: eslint --fix

fix: update dev-sbg.cmd to use experimental Node.js features for improved compatibility
  packages/sbg-cli/bin/dev-sbg.cmd
Due: none

fix: update code-runner setting to disable respectShebang option
  packages/sbg-cli/.vscode/settings.json
Due: prettier --list-different --write

fix: remove downlevelIteration option from tsconfig.json
  packages/sbg-cli/tsconfig.json
Due: prettier --list-different --write

build(sbg-cli): refactor build pipeline and simplify Rollup configuration
  packages/sbg-cli/gulpfile.js
  packages/sbg-cli/package.json
  packages/sbg-cli/release/metadata.json
  packages/sbg-cli/release/readme.md
  packages/sbg-cli/release/sbg-cli-2.0.0.tgz
  packages/sbg-cli/release/sbg-cli.tgz
  packages/sbg-cli/rollup.config.js
Due: eslint --fix, prettier --list-different --write

feat: configure TypeScript editor settings to disable automatic code actions on save
  packages/sbg-utility/.vscode/settings.json
Due: prettier --list-different --write

feat: add setupFiles configuration to Jest for custom setup
  packages/sbg-utility/jest.config.ts
Due: eslint --fix
