Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: add error handling to index-builder task for better debugging
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

refactor(sbg-utility): simplify index builders and unify export generation
  packages/sbg-utility/src/gulp-utils/index.builder.ts
  packages/sbg-utility/src/symbols/index.builder.ts
  packages/sbg-utility/src/utils/index.builder.ts
Due: eslint --fix

fix: update localStorage path in Node.js polyfill to use temporary directory
  packages/sbg-utility/src/utils/LocalStorageSharedPreferences.ts
Due: eslint --fix

fix(sbg-utility): persist file-entry-cache only after successful build
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

fix(src): generate export extensions from source files
  packages/sbg-utility/src/gulp-utils/index.builder.ts
  packages/sbg-utility/src/symbols/index.builder.ts
  packages/sbg-utility/src/utils/index.builder.ts
Due: eslint --fix

refactor(build): migrate index builders to ESM JavaScript
  packages/sbg-utility/src/gulp-utils/index-exports.ts
  packages/sbg-utility/src/gulp-utils/index.builder.mjs
  packages/sbg-utility/src/gulp-utils/index.ts
  packages/sbg-utility/src/sitemap-crawler/sitemap-crawler.ts
  packages/sbg-utility/src/symbols/index-exports.ts
  packages/sbg-utility/src/symbols/index.builder.mjs
  packages/sbg-utility/src/symbols/index.ts
  packages/sbg-utility/src/utils/index.builder.mjs
Due: eslint --fix

fix(gulpfile): update import syntax for cross-spawn to use namespace import
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(build): use spawnAsync from cross-spawn in gulp tasks
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(exports): update index exports to use .js extensions and clean up unused exports
  packages/sbg-utility/src/gulp-utils/index-exports.ts
  packages/sbg-utility/src/gulp-utils/index.ts
  packages/sbg-utility/src/symbols/index-exports.ts
  packages/sbg-utility/src/symbols/index.ts
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix

chore(package): update exports map and through2 type dependency
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix(jest): update coverage patterns to exclude all builder files
  packages/sbg-utility/jest.config.backup
  packages/sbg-utility/jest.config.js
Due: eslint --fix

feat(localstorage): support numeric keys in storage methods
  packages/sbg-utility/src/utils/LocalStorage.ts
Due: eslint --fix

fix(localstorage): normalize nullable keys in storage methods
  packages/sbg-utility/src/utils/LocalStorage.ts
Due: eslint --fix

fix(LocalStorage): set default value for _location parameter in constructor
  packages/sbg-utility/src/utils/LocalStorage.ts
Due: eslint --fix

fix(LocalStorage): change _sync method visibility to public
  packages/sbg-utility/src/utils/LocalStorage.ts
Due: eslint --fix

test(sbg-utility): add comprehensive Jest tests for LocalStorage and JSONStorage
  packages/sbg-utility/test/utils/LocalStorage/LocalStorage.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageAutoDir.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageES6.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageError.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageJSON.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageNoToString.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageSameDirTwice.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageSymbolKey.test.ts
  packages/sbg-utility/test/utils/LocalStorage/LocalStorageSync.test.ts
Due: eslint --fix

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

docs(array): enhance documentation for array utility functions
  packages/sbg-utility/src/utils/array.ts
Due: eslint --fix

feat(docs): generate API documentation index and individual documentation files
  packages/sbg-utility/docs/readme.md
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

fix(package): remove unused pretest script from package.json
  packages/sbg-utility/package.json
Due: prettier --list-different --write

ci(sbg-utility): automate documentation generation in workflow
  .github/workflows/sbg-utility.yml
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix(package): update binary-collections resolution URL
  package.json
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-utility/docs/config/_config.md
  packages/sbg-utility/docs/gulp-utils/gulp-cache.md
  packages/sbg-utility/docs/gulp-utils/gulp-dom.md
  packages/sbg-utility/docs/sitemap-crawler/sitemap-crawler.md
  packages/sbg-utility/docs/symbols/unicode-symbols.md
  packages/sbg-utility/docs/utils/empty.md
  packages/sbg-utility/docs/utils/filemanager/copy.md
  packages/sbg-utility/docs/utils/filemanager/del.md
  packages/sbg-utility/docs/utils/filemanager/writefile.md
  packages/sbg-utility/docs/utils/hash/getChecksum.md
  packages/sbg-utility/docs/utils/nunjucks-env.md
  packages/sbg-utility/docs/utils/semver.md
  packages/sbg-utility/docs/utils/string.md
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(package): update @types/through2 resolution URL to use raw tarball
  packages/sbg-api/package.json
  packages/static-blog-generator/package.json
Due: prettier --list-different --write

chore: update @types/through2 dependency URL to use raw tarball link
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/sbg-api/package.json
Due: eslint --fix, prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/sbg-api-2.0.0.tgz
  packages/sbg-api/release/sbg-api.tgz
Due: prettier --list-different --write

refactor: remove unused rollup backup configuration file
  packages/sbg-utility/rollup.backup.js
Due: eslint --fix

refactor: remove commented-out debug code from build function
  packages/sbg-utility/rollup-build.js
Due: eslint --fix

refactor: remove updater module and its dependencies
  packages/sbg-utility/updater.cjs
Due: eslint --fix

refactor: improve logging for file copy operation in gulpfile
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

refactor: clean up temporary declaration output folders after emitting
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

refactor: remove unused resolve-typescript-plugin dependency
  packages/sbg-utility/package.json
Due: prettier --list-different --write

refactor: remove rollup-build.js file and its associated build logic
  packages/sbg-utility/rollup-build.js
Due: eslint --fix

refactor: add completion message after cleaning up temporary declaration directories
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

refactor: simplify build script commands in package.json
  packages/sbg-utility/package.json
Due: prettier --list-different --write

build(gulp): generate .d.mts and .d.cts for browser bundles
  packages/sbg-utility/gulpfile.js
Due: eslint --fix
