Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: auto-generate package.json exports field from dist folders
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/generate-exports.js
  packages/sbg-utility/test/generate-exports.test.js
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/a826f110a5c3839154a52e2ee88b52fcbd42411b
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix: improve handling of direct execution in rollup-preserve.js
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

feat: add stub for fs module to disable methods in browser builds
  packages/sbg-utility/src/stub/fs.js
Due: eslint --fix

chore(gulpfile): update declaration compilation to use rollup-preserve.js instead of rollup-build.js
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

refactor: move entryFileNamesWithExt and chunkFileNamesWithExt to rollup.utils.js
  packages/sbg-utility/rollup-preserve.js
  packages/sbg-utility/rollup.utils.js
Due: eslint --fix

fix: ensure exports are sorted before updating package.json
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix, prettier --list-different --write

refactor: replace fs-extra and custom Logger with native modules
  packages/sbg-utility/src/utils/JSON-serializer.ts
Due: eslint --fix

feat: add browser-compatible JSON serializer with circular reference support
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/JSON-serializer-browser.ts
Due: eslint --fix, prettier --list-different --write

fix: ensure temporary directory is created before logging
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

feat: add browser JSON serializer and generate-exports utilities
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/import-cjs.test.cjs
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/2aa0dbd203193045e3d6de9b2ea67004073ef4e9
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f42c0b78ce85a7fd6ec4a9a08b34204a4751d60a
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add getChecksum and test for single, multiple files, and directories
  packages/sbg-utility/src/utils/hash.ts
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix

feat: enable git auto stash in VSCode settings
  packages/sbg-utility/.vscode/settings.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/948372d12f07cf0a87e7f5c1c8b92aded2b1599e
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

chore: update resolutions for dependencies in package.json
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f816e5ee325db655e640835db52e4b8048b5c0dc
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix: ensure proper formatting of package.json by adding a newline at the end
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix

build(rollup): refactor utility configs and enhance external filtering
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/rollup-build.js
  packages/sbg-utility/rollup-preserve.js
  packages/sbg-utility/rollup.config.js
  packages/sbg-utility/rollup.utils.js
Due: eslint --fix, prettier --list-different --write

chore: remove prepack script from package.json
  packages/sbg-utility/package-resolution-updater.js
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f334f6bc3e6259e2d66c5ce0dc02fcf70691cb23
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(test): add automatic checksum-based pretest build for sbg-utility
  packages/sbg-utility/jest.setup.ts
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write

refactor(hash): replace crypto library with CryptoJS for hashing functions
  packages/sbg-utility/src/utils/hash.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/f50d03eeeab1d1b9a3b88f6a571ae18562ac6589
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(gulp): return current Node.js executable path in get_binary_path function
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

refactor(utils): consolidate environment utilities into single module
  packages/sbg-utility/src/utils/environment.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/src/utils/isdev.ts
Due: eslint --fix

fix(gulp): use direct Node.js command for rollup task execution
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(generate-exports): reorder package.json fields for standardization
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix

fix(package.json): reorganize fields and add missing exports for environment utilities
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/6a3dbf311e3a14731f55113742b3dedaf1752fb1
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(package.json): remove unused exports for isdev utility
  packages/sbg-utility/package.json
Due: prettier --list-different --write

refactor(generate-exports): remove default export options and simplify folder handling
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/94a43869a835812b529732ff78e9704b44272799
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

build(rollup): add Babel plugin for Node.js 12 compatibility
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/a180ee596d6a84784c2cce06c02fab0821147a2e
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

test: add jsonParseWithCircularRefs test for normal array parsing
  packages/sbg-utility/test/utils/jsonSerializerCircular.test.ts
Due: eslint --fix

test: add tests for JSON serialization and deserialization with circular references
  packages/sbg-utility/test/utils/jsonSerializerCircular_cjs.test.cjs
  packages/sbg-utility/test/utils/jsonSerializerCircular_esm.test.mjs
Due: eslint --fix

fix: update integrity hashes and sizes for sbg-utility package releases
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add global File polyfill for Node.js
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/index.ts
  packages/sbg-utility/src/pollyfill/global-file.js
Due: eslint --fix, prettier --list-different --write

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
