Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: update test files to import Jest globals for improved test structure
  packages/sbg-utility/test/symbols/unicode-symbols.test.ts
  packages/sbg-utility/test/utils/LocalStorageSharedPreferences.test.ts
  packages/sbg-utility/test/utils/MemorySharedPreferences.test.ts
  packages/sbg-utility/test/utils/SharedPreferences.test.ts
  packages/sbg-utility/test/utils/array.test.ts
  packages/sbg-utility/test/utils/cleanString.test.ts
  packages/sbg-utility/test/utils/encode-url.test.ts
  packages/sbg-utility/test/utils/getChecksum.test.ts
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix

feat: add sanitizeFilename utility for cross-platform filename sanitization
  packages/sbg-utility/src/utils/filemanager/sanitizeFilename.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/utils/sanitizeFilename.test.ts
Due: eslint --fix

feat(sbg-utility): add sanitizeFilename and file-hashes exports
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/c5433e92698228976e55add6b35ec66f487fd7e2
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

Update sbg-utility.yml to include more bin paths
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

fix: improve pattern matching logic in getChecksum function
  packages/sbg-utility/src/utils/hash/getChecksum.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/200cd9c47106beb9dd165f64eff856453573b4c8
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(sanitizeFilename): add callback option for result post-processing
  packages/sbg-utility/src/utils/filemanager/sanitizeFilename.ts
  packages/sbg-utility/test/utils/sanitizeFilename.test.ts
Due: eslint --fix

refactor(sbg-utility): consolidate class utilities into class-utils module
  packages/sbg-utility/src/index-exports-browser.ts
  packages/sbg-utility/src/utils/class-utils.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/src/utils/isClass.ts
Due: eslint --fix

feat(sbg-utility): add checksum options with ignore pattern support
  packages/sbg-utility/jest.setup.ts
  packages/sbg-utility/src/utils/hash/getChecksum.ts
Due: eslint --fix

feat(jest.setup): add dotenv configuration for environment variable management
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

feat(build): replace global checksum with granular file change detection
  packages/sbg-utility/jest.setup.ts
  packages/sbg-utility/src/utils/filemanager/getFileChanges.ts
Due: eslint --fix

feat(class-utils): improve class detection and add function name utility
  packages/sbg-utility/src/utils/class-utils.ts
  packages/sbg-utility/test/utils/class-utils.test.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/c4c2704ba06b5d19212b8957ab54a4b6f77b9b0a
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(jest.setup): enhance change detection logging with colored output
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

feat(sanitizeFilename): support non-string inputs and class name sanitization
  packages/sbg-utility/src/utils/filemanager/sanitizeFilename.ts
  packages/sbg-utility/test/utils/sanitizeFilename.test.ts
Due: eslint --fix

feat(index-exports): add export for getFileChanges from filemanager
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/3a74cb7bf371d7ccab5e076f6268dc259ee91c04
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(sbg-utility): add exports for class-utils and getFileChanges
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore(tsconfig): remove downlevelIteration option
  packages/sbg-utility/tsconfig.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/0852001294d41de0c02a6426280232a0f2af43d7
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor(sbg-utility): extract browser debug HTML into separate file
  packages/sbg-utility/rollup-browser-test.html
  packages/sbg-utility/rollup-browser-test.js
Due: eslint --fix

chore(vscode): update terminal profiles and TypeScript settings
  .vscode/settings.json
Due: prettier --list-different --write

fix(yarnrc): update cacheFolder path and enable global cache
  .yarnrc.yml
Due: prettier --list-different --write

chore(eslint): migrate to flat config and refresh dev tooling
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --list-different --write

refactor(husky): make Git LFS hooks silent and conditional
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  packages/sbg-utility/package.json
Due: prettier --list-different --write

feat: add package-res.json for managing package dependencies
  packages/sbg-api/package-res.json
Due: prettier --list-different --write

refactor(package.json): clean up resolutions by removing unused hexo dependencies
  packages/sbg-cli/package.json
Due: prettier --list-different --write

Apply changes from ed4b924
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  tsconfig.base.json
  tsconfig.json
Due: eslint --fix, prettier --list-different --write

fix: remove downlevelIteration option from tsconfig.base.json
  tsconfig.base.json
Due: prettier --list-different --write

fix: remove unused hexo resolutions from package.json
  packages/sbg-api/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/01f0871b7ee7c96dd03f48a6edb88463484f4e5f
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
  packages/sbg-api/release/sbg-api-2.0.0.tgz
  packages/sbg-api/release/sbg-api.tgz
Due: prettier --list-different --write

fix: update paths-ignore in beta-ci.yml to refine ignored patterns
  .github/workflows/beta-ci.yml
Due: prettier --list-different --write

fix: update ACCESS_TOKEN usage to fallback on GITHUB_TOKEN in workflows
  .github/workflows/beta-builder.yml
  .github/workflows/beta-ci.yml
  .github/workflows/beta-push.yml
  .github/workflows/beta-tester.yml
  .github/workflows/build-api.txt
  .github/workflows/build-beta.txt
  .github/workflows/build-cli.txt
  .github/workflows/build-server.txt
  .github/workflows/build-utility.txt
  .github/workflows/clean-caches.yml
  .github/workflows/clean-logs.yml
  .github/workflows/sbg-api.yml
  .github/workflows/sbg-utility.yml
  .github/workflows/test.txt
Due: prettier --list-different --write

chore(ci): bump actions/upload-artifact and actions/download-artifact versions
  .github/workflows/beta-builder.yml
  .github/workflows/beta-push.yml
  .github/workflows/beta-tester.yml
Due: prettier --list-different --write

fix: refine branches-ignore list in beta-ci.yml
  .github/workflows/beta-ci.yml
Due: prettier --list-different --write

fix(package.json): add resolution for hexo-util and remove hexo-util subproject
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix(dependencies): update rollup and related plugins to latest versions
  packages/sbg-utility/package.json
Due: prettier --list-different --write

fix(tsc): create dummy _config.json to prevent TypeScript errors
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(config): update mappedConfig type to use HexoConfig for better type safety
  packages/sbg-utility/src/config/default-config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
