Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

fix(filemanager): stabilize getFileChanges path handling and self-exclusion
  packages/sbg-utility/src/utils/filemanager/getFileChanges.ts
  packages/sbg-utility/test/utils/filemanager/getFileChanges.test.ts
Due: eslint --fix

fix(jest): await async getFileChanges in setup build check
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

refactor(jest): migrate config to ESM-compatible JavaScript setup
  packages/sbg-utility/jest.config.js
Due: eslint --fix

fix(jest): update ignore patterns for getFileChanges and export main function
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

build(sbg-utility): exclude runner files from Rollup inputs
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/rollup-build.js
  packages/sbg-utility/rollup.config.js
Due: eslint --fix

fix(rollup): enhance declaration compilation with dedicated tsconfig and improved diagnostics
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

fix(gulp): simplify rollup-dts task definition and add dts task
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(sbg-utility): emit declarations with NodeNext module resolution
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

build(sbg-utility): improve Jest ESM setup and persist file change cache
  packages/sbg-utility/jest.config.js
  packages/sbg-utility/jest.setup.ts
  packages/sbg-utility/tsconfig.jest.json
Due: eslint --fix, prettier --list-different --write

refactor(sbg-utility): normalize ESM exports with explicit .js paths
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/src/config/index.ts
  packages/sbg-utility/src/gulp-utils/index.builder.ts
  packages/sbg-utility/src/gulp-utils/index.ts
  packages/sbg-utility/src/index-exports-browser.ts
  packages/sbg-utility/src/index-exports.ts
  packages/sbg-utility/src/index.builder.txt
  packages/sbg-utility/src/index.ts
  packages/sbg-utility/src/sitemap-crawler/index.ts
  packages/sbg-utility/src/symbols/index-exports.ts
  packages/sbg-utility/src/symbols/index.builder.ts
  packages/sbg-utility/src/symbols/index.ts
  packages/sbg-utility/src/utils/filemanager/index.ts
  packages/sbg-utility/src/utils/generate-exports.js
  packages/sbg-utility/src/utils/hash/index.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/src/utils/index.builder.ts
  packages/sbg-utility/src/utils/index.ts
  packages/sbg-utility/test/generate-exports.test.js
Due: eslint --fix, prettier --list-different --write

refactor(config): rename and reorganize tsconfig files for clarity
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/rollup-browser.js
  packages/sbg-utility/rollup.backup.js
  packages/sbg-utility/rollup.config.js
  packages/sbg-utility/tsconfig.browser.json
  packages/sbg-utility/tsconfig.build.json
  packages/sbg-utility/tsconfig.dts.json
  packages/sbg-utility/tsconfig.json
  packages/sbg-utility/tsconfig.node.json
Due: eslint --fix, prettier --list-different --write

refactor(sbg-utility): update internal imports for ESNext NodeNext compatibility
  packages/sbg-utility/src/config/_config.ts
  packages/sbg-utility/src/config/config-wrapper.ts
  packages/sbg-utility/src/config/default-config.ts
  packages/sbg-utility/src/external.ts
  packages/sbg-utility/src/gulp-utils/gulp-cache.ts
  packages/sbg-utility/src/gulp-utils/gulp-dom.ts
  packages/sbg-utility/src/gulp-utils/gulp.debug.ts
  packages/sbg-utility/src/index-browser.ts
  packages/sbg-utility/src/sitemap-crawler/sitemap-crawler.ts
  packages/sbg-utility/src/utils/JSON.ts
  packages/sbg-utility/src/utils/environment.ts
  packages/sbg-utility/src/utils/filemanager/emptyDir.ts
  packages/sbg-utility/src/utils/filemanager/getAppRootDir.ts
  packages/sbg-utility/src/utils/filemanager/path-utility.ts
  packages/sbg-utility/src/utils/filemanager/readfile.ts
  packages/sbg-utility/src/utils/filemanager/sanitizeFilename.ts
  packages/sbg-utility/src/utils/getNodeExecutable.ts
  packages/sbg-utility/src/utils/hash/file.ts
  packages/sbg-utility/src/utils/lockmanager.ts
  packages/sbg-utility/src/utils/logger.ts
  packages/sbg-utility/src/utils/nodeWorkspaceHelper.ts
  packages/sbg-utility/src/utils/nunjucks-env.ts
  packages/sbg-utility/src/utils/persistent-cache.ts
  packages/sbg-utility/src/utils/scheduler.ts
  packages/sbg-utility/src/utils/stream.ts
  packages/sbg-utility/src/utils/uuid.ts
  packages/sbg-utility/test/config.test.ts
  packages/sbg-utility/test/findYarnRootWorkspace.test.ts
  packages/sbg-utility/test/imports.test.ts
  packages/sbg-utility/test/resolveCommand.runner.ts
  packages/sbg-utility/test/wildcard.ts
Due: eslint --fix

test(sbg-utility): update getChecksum tests to use async/await and ESM import
  packages/sbg-utility/test/utils/getChecksum.test.ts
Due: eslint --fix

test(sbg-utility): update hash tests for async API and ESM compatibility
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor(rollup-preserve): simplify imports and export build function
  packages/sbg-utility/rollup-preserve.js
Due: eslint --fix

refactor(stream): update imports to use fs-extra, upath, and node:stream
  packages/sbg-utility/src/utils/stream.ts
Due: eslint --fix

feat(gulp): replace legacy dts task with rollup-based index dts build
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(generate-exports): enhance glob pattern to ignore specific directories and file types
  packages/sbg-utility/src/utils/generate-exports.js
Due: eslint --fix

refactor(build): streamline entry point to handle build errors more effectively
  packages/sbg-utility/rollup-build.js
Due: eslint --fix

fix(gulp): invoke rollup-preserve build and split declaration tasks
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

fix(gulp): update 'dts' task to include 'buildIndexDts' in the series
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

refactor(rollup): centralize bundled/external package lists in rollup.utils
  packages/sbg-utility/rollup.executor.js
  packages/sbg-utility/rollup.utils.js
Due: eslint --fix

fix(gulp): ensure tasks are defined for build-dist, copy-assets, and copy-declarations
  packages/sbg-api/gulpfile.cjs
Due: eslint --fix

chore(deps): add ansi-regex and vendor it; remove webpack and webpack-cli
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup.utils.js
Due: eslint --fix, prettier --list-different --write

chore(ci): update cache paths in GitHub Actions workflow
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

feat(ci): improve cache paths and make cache key branch-aware
  .github/workflows/sbg-api.yml
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

ci(cache): generalize node_modules caching and add branch-aware cache key
  .github/workflows/sbg-api.yml
Due: prettier --list-different --write

ci(sbg-utility): improve caching strategy and remove redundant git configuration step
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/sbg-api-2.0.0.tgz
  packages/sbg-api/release/sbg-api.tgz
Due: prettier --list-different --write

fix(deps): update @types/through2 and resolutions for binary-collections and cross-spawn
  package.json
Due: prettier --list-different --write

Set Git user email and name in workflow
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
Due: prettier --list-different --write

chore: remove pull_request trigger for closed types in workflow
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
Due: prettier --list-different --write

feat: implement checkFileChanges utility for file change detection
  packages/sbg-utility/src/utils/checkFileChanges.cjs
Due: eslint --fix

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
