Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

chore(cmd-here.bat): remove unnecessary environment variable settings for Python and LANG
  cmd-here.bat
Due: none

chore(tsconfig): remove downlevelIteration option from compiler options
  packages/sbg-api/tsconfig.json
Due: prettier --list-different --write

fix(jest.setup): export main function for jest setup
  packages/sbg-api/jest.setup.cjs
Due: eslint --fix

feat(db): add sqlite wrapper and database schema
  packages/sbg-api/src/db/schema.sql
  packages/sbg-api/src/db/sqlite.ts
  packages/sbg-api/test/db/sqlite.test.ts
Due: eslint --fix, prettier --list-different --write

feat(types): add @types/better-sqlite3 for TypeScript support
  packages/sbg-api/package.json
Due: prettier --list-different --write

fix(types): update SQLiteDatabase type definition for better clarity
  packages/sbg-api/src/db/sqlite.ts
Due: eslint --fix

chore(vscode): clean up workspace settings and disable auto-actions
  packages/sbg-api/.vscode/settings.json
Due: prettier --list-different --write

feat(init): add script for initializing and updating source posts repository
  packages/sbg-api/test/fixtures/init-fast-source-posts.cjs
Due: eslint --fix

docs(sbg-api): add AI context instructions and memory generation script
  packages/sbg-api/.github/copilot-instructions.md
  packages/sbg-api/docs/project-summary.instructions.md
  packages/sbg-api/docs/test-summary.instructions.md
  packages/sbg-api/scripts/generate-ai-memory.mjs
  packages/sbg-api/scripts/generate-ai-memory.template.md
Due: eslint --fix

fix(types): correct type definition for post created date in parsePermalink function
  packages/sbg-api/src/post/permalink.ts
Due: eslint --fix

test(sqlite): add integration tests for SQLite database operations
  packages/sbg-api/test/integration/sqlite.test.ts
Due: eslint --fix

chore(tooling): add OpenCode configuration and clean up development setup
  packages/sbg-api/.gitignore
  packages/sbg-api/.opencode/opencode.jsonc
  packages/sbg-api/.vscode/settings.json
  packages/sbg-api/eslint-old.txt
  packages/sbg-api/jest.setup.cjs
Due: eslint --fix, prettier --list-different --write

refactor(rollup): improve external package handling and output naming utilities
  packages/sbg-api/rollup.config.js
  packages/sbg-api/rollup.utils.js
Due: eslint --fix

feat(opencode): add initial configuration for OpenCode plugin
  .opencode/opencode.json
Due: prettier --list-different --write

build(sbg-api): update Rollup outputs and add template engine support
  packages/sbg-api/package.json
  packages/sbg-api/rollup.config.js
  packages/sbg-api/rollup.utils.js
Due: eslint --fix, prettier --list-different --write

feat(sbg-api): add builder pipeline and SQLite integration test helpers
  packages/sbg-api/src/core/builder.ts
  packages/sbg-api/test/helpers/sqlite.ts
  packages/sbg-api/test/integration/builder.test.ts
Due: eslint --fix

feat(core): implement markdown build pipeline and derived page generation
  packages/sbg-api/src/core/dependencies.ts
  packages/sbg-api/src/core/derived/archives.ts
  packages/sbg-api/src/core/derived/categories.ts
  packages/sbg-api/src/core/derived/index.ts
  packages/sbg-api/src/core/derived/pagination.ts
  packages/sbg-api/src/core/derived/queries.ts
  packages/sbg-api/src/core/derived/tags.ts
  packages/sbg-api/src/core/hasher.ts
  packages/sbg-api/src/core/invalidate.ts
  packages/sbg-api/src/core/markdown.ts
  packages/sbg-api/src/core/pipeline.ts
  packages/sbg-api/src/core/renderer.ts
  packages/sbg-api/src/core/scanner.ts
  packages/sbg-api/src/core/steps/derived.step.ts
  packages/sbg-api/src/core/steps/emit.step.ts
  packages/sbg-api/src/core/steps/markdown.step.ts
  packages/sbg-api/src/core/steps/render.step.ts
  packages/sbg-api/src/core/steps/scan.step.ts
  packages/sbg-api/src/core/steps/sync-db.step.ts
  packages/sbg-api/src/core/watcher.ts
Due: eslint --fix

fix(deps): update resolutions for binary-collections, cross-spawn, git-command-helper, markdown-it, and nodejs-package-types
  packages/sbg-utility/package.json
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add cross-platform Python launcher scripts for Unix and Windows
  bin/py
  bin/py.cmd
Due: none

fix: enhance cmd-here.bat to support UTF-8 and add missing paths
  cmd-here.bat
Due: none

chore(package): update resolutions, add type module, and fix depcheck patterns
  package.json
  packages/sbg-utility/package.json
  packages/sbg-utility/unused.cjs
Due: eslint --fix, prettier --list-different --write

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
