Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

build(docs): copy browser test files to documentation directory
  packages/sbg-utility/.gitignore
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

fix(generate-docs): normalize import() type specifiers to relative paths
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

feat: add VSCode settings configuration for terminal profiles and editor preferences
  .vscode/settings.json
Due: prettier --list-different --write

fix(workflow): update git add command to only include release directory
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

refactor(sbg-utility): migrate checkFileChanges utility from CJS to ESM
  packages/sbg-utility/src/utils/checkFileChanges.mjs
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix

fix(generate-docs): update index file name from readme.md to index.md
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

feat(sbg-utility): add GitHub Pages generator with markdown-to-HTML pipeline, local server, and deployment workflow
  .github/workflows/sbg-utility.yml
  packages/sbg-utility/.vscode/launch.json
  packages/sbg-utility/generate-pages.mjs
  packages/sbg-utility/package.json
  packages/sbg-utility/templates/layout.njk
Due: eslint --fix, prettier --list-different --write

ci(github-actions): centralize git config setup and remove duplicate config
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

fix(docs): preserve block spacing in generated markdown pages
  packages/sbg-utility/generate-pages.mjs
Due: eslint --fix

fix(docs): update documentation generation script from generate-docs.mjs to generate-pages.mjs
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

fix(generate-docs): update file paths for copying browser test and distribution files
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

fix(readme): update project description and documentation link in README
  packages/sbg-utility/readme.md
Due: none

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(generate-docs): conditionally render Returns based on description presence
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

fix(docs): add dotenv configuration to generate-docs and generate-pages scripts
  packages/sbg-utility/generate-docs.mjs
  packages/sbg-utility/generate-pages.mjs
Due: eslint --fix

feat(template): add dark mode toggle with persistent theme and enhance styling
  packages/sbg-utility/templates/layout.njk
Due: none

feat(scripts): add pages script to package.json for generating pages
  packages/sbg-utility/package.json
Due: prettier --list-different --write

feat(generate-docs): add horizontal rule separator in generated documentation
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

feat(sbg-utility): migrate layout styles to SCSS with Sass compilation
  packages/sbg-utility/generate-pages.mjs
  packages/sbg-utility/package.json
  packages/sbg-utility/templates/layout.njk
  packages/sbg-utility/templates/style.scss
Due: eslint --fix, prettier --list-different --write

feat(settings): update code runner configurations and enhance editor settings
  .vscode/settings.json
Due: prettier --list-different --write

chore(config): expand lint-staged globs for nested files and normalize prettier config
  .lintstagedrc.json
  .prettierrc.json
Due: prettier --list-different --write

feat(pages): add responsive navbar and mobile navigation, improve page generation output
  packages/sbg-utility/generate-pages.mjs
  packages/sbg-utility/templates/layout.njk
  packages/sbg-utility/templates/style.scss
Due: eslint --fix, prettier --list-different --write

fix(docs): remove prefix from titles in API documentation index
  packages/sbg-utility/generate-docs.mjs
Due: eslint --fix

feat: add .gitignore to exclude node_modules, temporary files, and environment variables
  .gitignore
Due: none

feat: add .nojekyll file to prevent Jekyll processing on GitHub Pages
  .nojekyll
Due: none

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
Due: prettier --list-different --write

feat: add cmd-here.bat script for setting up workspace and custom PATH
  cmd-here.bat
Due: none

chore: migrate to shared eslint config and update dependencies
  package.json
  packages/sbg-api/eslint.config.js
  packages/sbg-api/eslint.config.mjs
  packages/sbg-api/package.json
Due: eslint --fix, prettier --list-different --write

chore(husky): add pre-commit hook and lint-staged configuration
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --list-different --write

feat: add bunfig.toml configuration for Bun package management
  bunfig.toml
Due: none

feat: add comprehensive GitHub Copilot instructions for various languages and project structure
  packages/sbg-api/.github/instructions/all.instructions.md
  packages/sbg-api/.github/instructions/nodejs.instructions.md
  packages/sbg-api/.github/instructions/php.instructions.md
  packages/sbg-api/.github/instructions/project-summary.instructions.md
  packages/sbg-api/.github/instructions/python.instructions.md
  packages/sbg-api/.github/instructions/react.instructions.md
Due: none

chore(sbg-api): overhaul jest configuration and workspace settings
  .prettierrc.json
  eslint.config.mjs
  packages/sbg-api/.vscode/settings.json
  packages/sbg-api/jest.config.js
  packages/sbg-api/jest.config.ts
  packages/sbg-api/jest.setup.cjs
  packages/sbg-api/package.json
Due: eslint --fix, prettier --list-different --write

chore: update .gitignore to include all lock files
  packages/sbg-api/.gitignore
Due: none

chore: update Prettier configuration with additional options and overrides
  .prettierrc.json
Due: prettier --list-different --write

chore(lint-staged): migrate to js config for monorepo support
  .lintstagedrc.json
  lint-staged.config.mjs
  package.json
Due: eslint --fix, prettier --list-different --write

feat(lint-staged): add grouped package-aware execution with spawnSync runner
  lint-staged.config.mjs
Due: eslint --fix

feat(builder): add AST-based empty file detection and improve export generation
  packages/sbg-api/src/index.builder.mjs
Due: eslint --fix

fix(yarn): ensure correct detection of yarn on Windows systems
  .yarn-install.py
Due: black

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
