Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor(eslint): migrate sbg-cli to ESLint v9 flat config and remove legacy config
  packages/sbg-cli/.eslintrc.js
  packages/sbg-cli/eslint.config.js
  packages/sbg-cli/eslint.config.txt
  packages/sbg-cli/package.json
Due: eslint --fix, prettier --list-different --write

chore(deps): update yarn to 4.13.0 and pin dependency versions
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
Due: eslint --fix, prettier --list-different --write

chore(pre-commit): comment out ESLint and Prettier version sync command
  .husky/pre-commit
Due: none

chore: merge branch 'sbg-utility'
  packages/sbg-utility/.gitignore
  packages/sbg-utility/.vscode/settings.json
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/jest.config.ts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.8.tgz
  packages/sbg-utility/rollup-build.js
  packages/sbg-utility/rollup-preserve.js
  packages/sbg-utility/rollup.config.js
  packages/sbg-utility/rollup.utils.js
  packages/sbg-utility/src/config/_config.json
  packages/sbg-utility/test/_config.yml
  packages/sbg-utility/test/config/_config.test.ts
  packages/sbg-utility/test/generate-exports.test.js
  packages/sbg-utility/test/gulp-utils/gulp-cached.test.ts
  packages/sbg-utility/test/imports.test.ts
  packages/sbg-utility/test/json_direct.mjs
  packages/sbg-utility/test/json_direct.ts
  packages/sbg-utility/test/utils/LocalStorageSharedPreferences.test.ts
  packages/sbg-utility/test/utils/MemorySharedPreferences.test.ts
  packages/sbg-utility/test/utils/SharedPreferences.test.ts
  packages/sbg-utility/test/utils/chain.runner.cjs
  packages/sbg-utility/test/utils/chain.test.ts
  packages/sbg-utility/test/utils/cleanString.test.ts
  packages/sbg-utility/test/utils/decode-url.test.ts
  packages/sbg-utility/test/utils/deepMerge.test.ts
  packages/sbg-utility/test/utils/empty.test.ts
  packages/sbg-utility/test/utils/encode-url.test.ts
  packages/sbg-utility/test/utils/file-hashes.test.ts
  packages/sbg-utility/test/utils/getChecksum.test.ts
  packages/sbg-utility/test/utils/jsonSerializerCircular_cjs.test.cjs
  packages/sbg-utility/test/utils/jsonSerializerCircular_esm.test.mjs
  packages/sbg-utility/test/utils/path-utility.test.ts
Due: eslint --fix, prettier --list-different --write

feat: add TypeScript coding standards instructions
  packages/sbg-utility/.github/instructions/typescript.instructions.md
Due: none

fix(tsconfig): update compilerOptions for improved documentation build
  .husky/pre-commit
  packages/sbg-utility/package.json
  packages/sbg-utility/tsconfig.docs.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/1b16da8a78261f2e7bec652813470a828adaf95f
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

chore: update .gitignore to include package-lock.json and yarn.lock
  .gitignore
Due: none

ci(sbg-utility): refine release commit workflow messaging
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

ci(workflow): migrate build cache to actions/cache v4
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

ci(workflow): improve sbg-utility build workflow reliability
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

ci(workflow): modernize sbg-api build and caching workflow
  .github/workflows/sbg-api.yml
Due: prettier --list-different --write

build(release): update generated release artifacts
  packages/sbg-api/release/metadata.json
  packages/sbg-api/release/readme.md
Due: prettier --list-different --write

ci(workflow): remove global package installation from build workflows
  .github/workflows/beta-builder.yml
  .github/workflows/beta-tester.yml
  .github/workflows/build-api.txt
  .github/workflows/build-beta.txt
  .github/workflows/build-cli.txt
  .github/workflows/build-server.txt
  .github/workflows/build-utility.txt
  .github/workflows/docs-build.txt
  .github/workflows/test.txt
Due: prettier --list-different --write

ci(beta-builder): split build and pack workflow per workspace
  .github/workflows/beta-builder.yml
Due: prettier --list-different --write

ci(workflow): upgrade actions/cache to version 4 in beta workflows
  .github/workflows/beta-builder.yml
  .github/workflows/beta-push.yml
  .github/workflows/beta-tester.yml
Due: prettier --list-different --write

ci(cache): replace gh-actions-cache workflow cleanup with npx utility
  .github/workflows/clean-caches.yml
Due: prettier --list-different --write

ci(cleanup): update cache cleanup command to use yarn dlx for better reliability
  .github/workflows/clean-caches.yml
Due: prettier --list-different --write

ci(cache): improve cache cleanup workflow setup and triggers
  .github/workflows/clean-caches.yml
Due: prettier --list-different --write

chore(eslint): migrate sbg-server to ESLint v9 flat config
  eslint.config.mjs
  packages/sbg-server/.eslintignore
  packages/sbg-server/.eslintrc.js
  packages/sbg-server/.vscode/settings.json
  packages/sbg-server/eslint.config.mjs
  packages/sbg-server/package.json
Due: eslint --fix, prettier --list-different --write

feat(cleanup): add script to shuffle and remove node_modules entries
  packages/sbg-server/bin/yc
Due: none

feat(sbg-server): parallelize node_modules cleanup with job control
  packages/sbg-server/bin/yc
Due: none

fix(build): allow sbg-cli build step to continue on error
  .github/workflows/beta-builder.yml
Due: prettier --list-different --write

refactor: merge from 'master
  .gitignore
  .yarn-install.py
  bin/yarn-install
  bin/yarn-install.cmd
  clean_workspaces_node_modules.py
Due: black

chore: define Gulp tasks for build-dist, copy-assets, and copy-declarations
  packages/sbg-api/gulpfile.cjs
Due: eslint --fix

chore: update dependencies to latest versions in package.json
  packages/sbg-api/package.json
Due: prettier --list-different --write

chore: format console log messages in jest.setup.ts for better readability
  packages/sbg-utility/jest.setup.ts
Due: eslint --fix

feat: add removeAnsi utility function to strip ANSI escape codes from strings
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/removeAnsi.ts
  packages/sbg-utility/test/utils/removeAnsi.test.ts
Due: eslint --fix, prettier --list-different --write

refactor: remove unused get_binary_path function from gulpfile.js
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

feat: add getNodeExecutable function to resolve Node.js binary paths
  packages/sbg-utility/src/utils/getNodeExecutable.ts
Due: eslint --fix

build(release): update generated release artifacts
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(sbg-utility): require ROLLUP_INPUT and auto-generate ROLLUP_OUTPUT
  packages/sbg-utility/rollup.executor.js
Due: eslint --fix

fix(config): handle missing _config.json file gracefully
  packages/sbg-utility/src/config/default-config.ts
Due: eslint --fix

fix(.gitignore): update patterns to ignore configuration and build artifacts
  packages/sbg-utility/.gitignore
Due: none

refactor(sbg-utility): extract TypeScript execution into reusable run-ts script
  package.json
  packages/sbg-utility/.vscode/settings.json
  packages/sbg-utility/bin/run-ts
  packages/sbg-utility/bin/run-ts.cjs
  packages/sbg-utility/bin/run-ts.cmd
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix, prettier --list-different --write

fix(hash): normalize checksum file collection and stabilize hash generation
  packages/sbg-utility/src/utils/hash/getChecksum.ts
Due: eslint --fix

fix(filemanager): stabilize file change detection and cache generation
  packages/sbg-utility/src/utils/filemanager/getFileChanges.ts
Due: eslint --fix

feat(hash): add normalized text checksum and streaming binary hashing
  packages/sbg-utility/src/utils/hash/getChecksum.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
