Repository dimaslanjaka/static-blog-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat(symbols): add getUnicodeSymbol with fallback search and keyword matching
  packages/sbg-utility/src/symbols/unicode-symbols.ts
  packages/sbg-utility/test/symbols/unicode-symbols.test.ts
Due: eslint --fix

feat(utility): add greek letters symbol map and integrate into unicode-symbols
  packages/sbg-utility/src/symbols/greek-letters.ts
  packages/sbg-utility/src/symbols/index-exports.ts
  packages/sbg-utility/src/symbols/unicode-symbols.ts
Due: eslint --fix

feat(workflow): enable submodules
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

fix(dependencies): update binary-collections and hexo package URLs to latest releases
  package.json
Due: prettier --list-different --write

fix(index-builder): add error handling for command execution
  packages/sbg-utility/index-builder.mjs
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/2137f1605c205d1482e6d9fd60f906bb118044bd
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(package): update clean script to remove tmp directory
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/c8ad77e05a141fd74188199041e296545dde13d4
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor(build): migrate index-builder logic into gulp task and update build process
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/index-builder.mjs
  packages/sbg-utility/package.json
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/1cc4e4e58c3f244ef50d0aaa250eabb6505ea653
  packages/sbg-utility/package.json
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(build): restrict git add and commit to release directory only
  .github/workflows/sbg-utility.yml
Due: prettier --list-different --write

refactor: remove unicode-symbols submodule and update import in unicode-symbols.ts
  .gitmodules
  packages/sbg-utility/package.json
  packages/sbg-utility/src/symbols/unicode-symbols.ts
Due: eslint --fix, prettier --list-different --write

refactor(sbg-utility): replace unicode-symbols dependency with internal implementation
  packages/sbg-utility/package.json
  packages/sbg-utility/src/symbols/unicode-symbols-data.ts
  packages/sbg-utility/src/symbols/unicode-symbols.ts
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/005c75b2f836953911f1afa326efe036e9e9c922
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

refactor: simplify export values structure in generateExportsTask
  packages/sbg-utility/gulpfile.js
Due: eslint --fix

feat: add export for unicode-symbols-data in index-exports
  packages/sbg-utility/src/symbols/index-exports.ts
Due: eslint --fix

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/615df3b769da913c24af2d90ab457f4421500ed8
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(array): add predicate overload to array_random and tests
  packages/sbg-utility/src/utils/array.ts
  packages/sbg-utility/test/utils/array.test.ts
Due: eslint --fix

chore: update resolutions
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/919176683631afe28f65735bafebe7a0a400bd7d
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix: packages/sbg-api/package.json to reduce vulnerabilities
  packages/sbg-api/package.json
Due: prettier --list-different --write

chore: update @jest/globals to version 30.2.0
  package.json
Due: prettier --list-different --write

chore(deps): update jest/globals and globals versions, add dotenv dependency
  packages/sbg-utility/package.json
Due: prettier --list-different --write

feat(utils): add isEmpty utility with tests and export mappings
  packages/sbg-utility/package.json
  packages/sbg-utility/src/utils/empty.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/test/utils/empty.test.ts
Due: eslint --fix, prettier --list-different --write

feat(utils): add EmptyOptions interface and introduce isNotEmpty with comprehensive tests
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/empty.ts
  packages/sbg-utility/test/utils/empty.test.ts
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/6323837da852114eba74981169d4c9e5de4666bd
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

chore: update yarn version to 4.13.0 in .yarnrc.yml
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
Due: eslint --fix, prettier --list-different --write

feat: add cmd-here.bat script to set custom PATH and workspace directory
  cmd-here.bat
Due: none

feat(utils): add ensureAllPicked support to array_random
  packages/sbg-utility/docs/arrays.md
  packages/sbg-utility/readme.md
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/array.ts
  packages/sbg-utility/test/utils/array.test.ts
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/c6e0ed5a5504acbb9a9a64d6e3d041ef4dc260ce
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

fix(utils): handle Set and Map emptiness in isEmpty
  packages/sbg-utility/src/utils/empty.ts
  packages/sbg-utility/test/utils/empty.test.ts
Due: eslint --fix

chore(deps): bump binary-collections and refresh pinned resolutions
  package.json
  packages/sbg-utility/package.json
Due: prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/a42582ef6262b8a25b6797acac2cb8dae05d96b1
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat(build): add browser bundle build pipeline with Rollup
  packages/sbg-utility/gulpfile.js
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup-browser.js
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/1559fd84855913eb7ca2d61c4ed58b20fc514e6a
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: browser build, exports, config, and test improvements
  packages/sbg-utility/.vscode/settings.json
  packages/sbg-utility/jest.config.ts
  packages/sbg-utility/package.json
  packages/sbg-utility/rollup-browser-test.js
  packages/sbg-utility/rollup-browser.js
  packages/sbg-utility/rollup-build.js
  packages/sbg-utility/src/globals.ts
  packages/sbg-utility/src/index-browser.ts
  packages/sbg-utility/src/index-exports-browser.ts
  packages/sbg-utility/src/stub/debug.cjs
  packages/sbg-utility/src/stub/url.cjs
  packages/sbg-utility/src/utils/chain.ts
  packages/sbg-utility/src/utils/environment.ts
  packages/sbg-utility/src/utils/filemanager/path-utility.ts
  packages/sbg-utility/src/utils/hash.ts
  packages/sbg-utility/src/utils/hash/file.ts
  packages/sbg-utility/src/utils/hash/getChecksum.ts
  packages/sbg-utility/src/utils/index-exports.ts
  packages/sbg-utility/src/utils/isClass.ts
  packages/sbg-utility/src/utils/string.ts
  packages/sbg-utility/test/stub/url/pollyfill-io.test.js
  packages/sbg-utility/test/wildcard.ts
Due: eslint --fix, prettier --list-different --write

chore: update build from https://github.com/dimaslanjaka/static-blog-generator/commit/4c6bea06a0ef74bb2182d64ff1e2c51484ceddc0
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
Due: prettier --list-different --write

feat: add hash utility exports for file and checksum
  packages/sbg-utility/src/utils/hash/index.ts
  packages/sbg-utility/src/utils/index-exports.ts
Due: eslint --fix

feat(utils): enhance md5 to support short hash output
  packages/sbg-utility/release/metadata.json
  packages/sbg-utility/release/sbg-utility-2.0.10.tgz
  packages/sbg-utility/release/sbg-utility.tgz
  packages/sbg-utility/src/utils/hash.ts
Due: eslint --fix, prettier --list-different --write

fix: update import paths for checksum utility in jest setup and hash tests
  packages/sbg-utility/jest.setup.ts
  packages/sbg-utility/test/utils/hash.test.ts
Due: eslint --fix
